*{
    padding: 0;
    margin: 0;
}
.title{
    height: 140px;
    width: 100%;
    font-size: 140px;
    position: relative;
    left: 40px;
    bottom: 20px;
    filter: blur(5px);
    transition: all .5s;
    font-family: 'Zeyada', cursive;
}
.title:hover{
    filter: none;
}
.shell{
    height: 100vh;
    width: 85%;
    overflow-x: hidden;
    perspective: 3px;
}
.shell div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: 30px;
    text-align: center;
}
.heading:hover{
    background-color: rgba(0, 0, 0, 0.298);
}
.image{
    transform: translateZ(-1px) scale(1.6);
    background-size: cover;
    height: 100vh;
    z-index: -1;
}
.text{
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.609);
    filter: blur(3px);
    font-family: 'Zeyada', cursive;
}
.text h1{
    color: rgb(64, 64, 64);
    font-size: 70px;
}
.heading{
    z-index: -1;
    width: 80%;
    margin: auto;
    color: white;
    transform: translateY(-30vh) translateZ(1px);
    font-family: 'Calligraffitti', cursive;
    line-height: 60px;
    letter-spacing: 6px;
    transition: all .3s;
}
.sidebar{
    position: fixed;
    height: 100px;
    width: 20px;
    background-color: rgb(28, 28, 28);
    right: 0;
    top: 0;
    margin: 90px;
    transition-duration: 2s;
}
.sidebar:hover{
    height: 200px;
    width: 30px;
    opacity: 30%;
    background-color: green;
}
.flower{
    height: 200px;
    aspect-ratio: 1/1;
    background-size: cover;
    background-image: url(imgs/7.png);
    position: absolute;
    top: 100px;
    right: 0;
    -webkit-transition: top 2s;
    -moz-transition: top 2s;
    -o-transition: top 2s;
    filter: blur(8px);
}
.flower:hover{
    top: 200px;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    filter: none;
}

.menu{
    position: fixed;
    right: 80px;
    bottom: 90px;
    line-height: 10px;
}
.left{
    position: fixed;
    height: 30px;
    right: 80px;
    bottom: 130px;
    content: url(/icons/zuojiantou.png);
}
.right{
    position: fixed;
    height: 30px;
    right: 80px;
    bottom: 180px;
    content: url(/icons/youjiantou.png);
}