body{
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
}
.menu{
    font-family: 'Handjet', sans-serif;
    font-size: 3rem;
    position: fixed;
    text-align: left;
    color: #fff;
    z-index: 8;
    left: 12vw;
}
.back{
    font-family: 'Handjet', sans-serif;
    font-size: 3rem;
    position: fixed;
    text-align: right;
    color: #fff;
    z-index: 8;
    right: 20vw;
}
.next{
    font-family: 'Handjet', sans-serif;
    font-size: 3rem;
    position: fixed;
    text-align: right;
    color: #fff;
    z-index: 8;
    right: 10.5vw;
}
a{
    text-decoration: none;
    color: #fff;
}
.title{
    text-align: center;
    position: relative;
    font-size: 13rem;
    font-weight: bold;
    color: cornsilk;
    top: 10rem;
    z-index: 7;
    cursor: pointer;
    transition: color 0.5s;
    letter-spacing: 3vw;
    font-family: 'Handjet', sans-serif;
    left: 0.5rem;
}
.title:hover{
    color: rgb(255, 255, 255);
}
.title:hover ~ .bg1{
    opacity: 0;
}
.title:hover ~ .bg2{
    opacity: 1;
}
.bg1{
    background-image: url(imgs/2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 10;
}
.bg2{
    background-image: url(imgs/1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0;
}
.bg1,
.bg2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 1s;
}
.left{
    font-family: 'Handjet', sans-serif;
    font-size: 3rem;
    position: relative;
    text-align: left;
    color: #fff;
    z-index: 6;
    bottom: 2rem;
    left: 10vw;
}
.right{
    font-family: 'Handjet', sans-serif;
    font-size: 3rem;
    position: relative;
    text-align: right;
    color: #fff;
    z-index: 6;
    bottom: 15.5rem;
    right: 10vw;
}

.gallery{
    width: 100%;
    max-width: 100%;
    height: 250px;
    overflow: hidden;
    margin:auto;
    position: relative;
    z-index: 3;
    top: 80px;
}
.gallery ul{
    width: 80%;
    display: table;
    table-layout: fixed;
    margin: auto;
    padding:0;
}
.gallery ul li{
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 20%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
}
.gallery ul li div{
    display: block;
    overflow: hidden;
    width: 100%;
}
.gallery ul li div a{
    display: block;
    height: 250px;
    width: 100%;
    position: relative;
    z-index: 4;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    transition: all 200ms ease;
}
.gallery ul li div a *{
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: wrap;
    overflow: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}
.gallery ul li div a h2{
    text-overflow: clip;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: 80px;
    font-family: 'Handjet', sans-serif;
}
.gallery ul li div a p{
    top: 80px;
    font-size: 1rem;
    font-family: 'Handjet', sans-serif;
    font-weight: lighter
}
.gallery ul li:nth-child(1){
    background-image: url(imgs/sand.jpg);
    background-size: cover;
}
.gallery ul li:nth-child(2){
    background-image: url(imgs/water.jpg);
    background-size: cover;
}
.gallery ul li:nth-child(3){
    background-image: url(imgs/plant.jpg);
    background-size: cover;
}
.gallery ul li:nth-child(4){
    background-image: url(imgs/animal.jpg);
    background-size: cover;
}
.gallery ul li:nth-child(5){
    background-image: url(imgs/insect.jpg);
    background-size: cover;
}

.gallery ul:hover li, .gallery ul:focus-within li{
    width: 8%;
}
.gallery ul li:focus{
    outline: none;
}
.gallery ul:hover li:hover, .gallery ul li:focus, .gallery ul:focus-within li:focus{
    width: 60%;
}
.gallery ul:hover li:hover a, .gallery ul li:focus a, .gallery ul:focus-within li:focus a{
    background: rgba(0, 0, 0, 0.4);
}
.gallery ul:hover li:hover a *, .gallery ul li:focus a *, .gallery ul:focus-within li:focus a *{
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.gallery ul:hover li{
    width: 8% !important;
}
.gallery ul:hover li a *{
    opacity: 0 !important;
}
.gallery ul:hover li:hover{
    width: 60% !important;
}
.gallery ul:hover li:hover a{
    background: rgba(0, 0, 0, 0.4);
}
.gallery ul:hover li:hover a *{
    opacity: 1 !important;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.poem{
    width: 80%;
    color: #fff;
    z-index: 9;
    position: relative;
    text-align: justify;
    margin: auto;
    bottom: 8rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
}
@media screen and (max-width:900px){
    .left{
        font-family: 'Handjet', sans-serif;
        font-size: 3rem;
        position: relative;
        text-align: left;
        color: #fff;
        z-index: 6;
        top: 8rem;
        left: 20vw;
    }
    .right{
        font-family: 'Handjet', sans-serif;
        font-size: 3rem;
        position: relative;
        text-align: right;
        color: #fff;
        z-index: 6;
        bottom: 2.2rem;
        right: 20vw;
    }
    .poem{
        width: 80%;
        color: #fff;
        z-index: 9;
        position: relative;
        text-align: justify;
        margin: auto;
        top: 1rem;
        font-size: 1.1rem;
    }
    .back{
        right: 25vw;
    }
    .title{
        font-size: 10rem;
    }
}
@media screen and (max-width:500px){
    body{
        margin: 0;
    }
    .gallery{
        height: auto;
    }
    .gallery ul li{
        display: table-cell;
        vertical-align: bottom;
        position: relative;
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all 500ms ease;
    }
    .gallery ul:hover li, .gallery ul:focus-within li{
        width: 100%;
    }
    .gallery ul:hover li:hover, .gallery ul li:focus, .gallery ul:focus-within li:focus{
        width: 100%;
    }
    .gallery ul li, .gallery ul li:hover, .gallery ul:hover li, .gallery ul:hover li:hover{
        position: relative;
        display: table;
        table-layout: fixed;
        -webkit-transition: none;
        transition: none;
    }
    .gallery ul:hover li{
        width: 80% !important;
    }
    .gallery ul:hover li:hover{
        width: 100% !important;
    }
    .title{
        font-size: 8rem;
    }
    .back{
        right: 31vw;
    }
    .left{
        font-size: 2rem;
        top: 10rem;
    }
    .right{
        font-size: 2rem;
        top: 3.3rem;
        right: 5.5rem;
    }
    .poem{
        top: 5rem;
        font-size: 1.25rem;
        text-align: center;
    }
}
