html{
    font-size: 16px;
}

/*part1*/
.FP{
    width: 100%;
    aspect-ratio: 1/0.7;
    display: flex;
}
.bg1{
    width: 99.4%;
    aspect-ratio: 1/0.7;
    background-image: url(imgs/gp1.png);
    background-size: cover;
}
.snowblk{
    width: 90%;
    aspect-ratio: 1/0.7;
    background-image: url(imgs/gp2.png);
    background-size: cover;
    position: absolute;
    left: 5%;
    flex-shrink: 0;
    opacity: 80%;
}
.sidebar{
    width: 0.7rem;
    height: 24rem;
    background: #7cbbd1;
    position: absolute;
    top: 23%;
}
.sidebar2{
    width: 0.7rem;
    height: 24rem;
    background: #7cbbd1;
    position: absolute;
    top: 23%;
    right: 1%;
}
.topdeco{
    width: 98%;
    aspect-ratio: 1/0.5;
    background-image: url(imgs/gp3.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
}
.title{
    width: 20rem;
    height: 19.5rem;
    color: #11c9c9;
    text-align: center;
    font-family: 'Ballet', cursive;
    font-size: 13.7rem;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    top: 10%;
    left: 10%;
}
.title2{
    width: 45rem;
    height: 19.5rem;
    color: #1ca0c9;
    text-align: center;
    font-family: 'Ballet', cursive;
    font-size: 13.7rem;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 28%;
}
.middle{
    width: 98.3%;
    aspect-ratio: 1/0.5;
    background-image: url(imgs/gp6.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 83%;
    opacity: 80%;
}

/*part2*/
.box{
    width: 100%;
    display: flex;
}
.bg2{
    background-color: rgb(102, 191, 224);
    width: 98.3%;
    height: 44rem;
    position: absolute;
}
.SP{
    bottom: 2rem;
    width: 29rem;
    height: 38rem;
    position: relative;
    display: flex;
    color: #ffffff;
    text-align: center;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    position: relative;
    margin: auto;
}
.snowwht{
    width: 80%;
    aspect-ratio: 1/0.64;
    background-image: url(imgs/gp7.png);
    background-size: cover;
    position: absolute;
    left: 10%;
    top: 90%;
    flex-shrink: 0;
    opacity: 80%;
    transition: all 0.3s;
}
.snowwht:hover{
    opacity: 50%;
}
.hbar{
    width: 24rem;
    height: 0.5rem;
    background-color: #ffffff;
    position: absolute;
    bottom: -7%;
    left: 2.5rem;
}

.menu{
    font-size: 3em;
    width: 98%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1vh;
    margin: auto;
    z-index: 200;
    position: fixed;
}
.combo{
    display: flex;
}
.combo div{
    padding: 0 1vw;
}
a{
  text-decoration: none;
  color: #104e9a;
  font-family: 'Big Shoulders Display', sans-serif;
}

/*part3*/
.TP{
    width: 100%;
    height: 44rem;
    display: flex;
    background-color: #d2e7f6;
    position: relative;
    top: 5rem;
}
.photo{
    width: 90%;
    height: 30rem;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: absolute;
    top: 4rem;
    left: 5%;
}
.photo div{
    width: 40%;
    height: 1/1;
    overflow: hidden;
}
.photo img{
    height: 100%;
}
.hbar2{
    width: 100%;
    height: 0.5rem;
    background-color: #ffffff;
    position: absolute;
    bottom: 6rem;
    text-align: center;
}
.bottom{
    width: 100%;
    aspect-ratio: 1/0.3;
    background-image: url(imgs/gp8.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 30rem;
}

@media only screen and (max-width:1224px){
    .title{
        width: 10rem;
        height: 19.5rem;
        color: #060606;
        text-align: center;
        font-family:Ballet;
        font-size: 12.7rem;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        top: 14%;
        left: 10%;
    }
    .title2{
        width: 10rem;
        height: 19.5rem;
        color: #060606;
        text-align: center;
        font-family:Ballet;
        font-size: 12.7rem;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        top: 40%;
        left: 25%;
    }
    .hbar{
        width: 24rem;
        height: 0.5rem;
        background-color: #ffffff;
        position: absolute;
        bottom: -8%;
        left: 2.5rem;
    }
}

@media only screen and (max-width:1024px){
    .title{
        width: 10rem;
        height: 19.5rem;
        color: #060606;
        text-align: center;
        font-family:Ballet;
        font-size: 10.7rem;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        top: 13%;
        left: 10%;
    }
    .title2{
        width: 10rem;
        height: 19.5rem;
        color: #060606;
        text-align: center;
        font-family:Ballet;
        font-size: 10.7rem;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        top: 34%;
        left: 24%;
    }
    .middle{
        width: 98.3%;
        aspect-ratio: 1/0.5;
        background-image: url(imgs/gp6.png);
        background-size:contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 72%;
    }
    .SP{
        top: 4rem;
        width: 29rem;
        height: 38rem;
        position: relative;
        display: flex;
        color: #ffffff;
        text-align: center;
        font-family: 'Big Shoulders Display', sans-serif;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        position: relative;
        margin: auto;
    }
    .hbar{
        width: 24rem;
        height: 0.5rem;
        background-color: #ffffff;
        position: absolute;
        bottom: 0%;
        left: 2.5rem;
    }
}

@media only screen and (max-width:880px){
    .title{
        width: 10rem;
        height: 19.5rem;
        color: #060606;
        text-align: center;
        font-family:Ballet;
        font-size: 9.7rem;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        top: 10%;
        left: 10%;
    }
    .title2{
        width: 10rem;
        height: 19.5rem;
        color: #060606;
        text-align: center;
        font-family:Ballet;
        font-size: 9.7rem;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        top: 30%;
        left: 24%;
    }
    .middle{
        width: 98.3%;
        aspect-ratio: 1/0.5;
        background-image: url(imgs/gp6.png);
        background-size:contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 64%;
    }
    .sidedeco{
        width: 2.5rem;
        height: 3rem;
        position: absolute;
        background-image: url(imgs/gp4.png);
        top: 38%;
        background-size: cover;
    }
    .sidedeco2{
        width: 2.3rem;
        height: 3rem;
        position: absolute;
        background-image: url(imgs/gp5.png);
        top: 38%;
        right: 1.5%;
        background-size: cover;
    }
    .sidebar{
        width: 0.7rem;
        height: 18rem;
        background: #060606;
        position: absolute;
        top: 23%;
    }
    .sidebar2{
        width: 0.7rem;
        height: 18rem;
        background: #060606;
        position: absolute;
        top: 23%;
        right: 1%;
    }
    .SP{
        top: 4rem;
        width: 29rem;
        height: 38rem;
        position: relative;
        display: flex;
        color: #ffffff;
        text-align: center;
        font-family: 'Big Shoulders Display', sans-serif;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        position: relative;
        margin: auto;
    }
    .hbar{
        width: 24rem;
        height: 0.5rem;
        background-color: #ffffff;
        position: absolute;
        bottom: 7%;
        left: 2.5rem;
    }
}

@media only screen and (max-width:768px){
    html{
        font-size: 16px;
    }
    .sidebar{
        width: 0.7rem;
        height: 13rem;
        background: #060606;
        position: absolute;
        top: 22%;
    }
    .sidebar2{
        width: 0.7rem;
        height: 13rem;
        background: #060606;
        position: absolute;
        top: 22%;
        right: 1%;
    }
    .title{
        width: 10rem;
        height: 19.5rem;
        color: #060606;
        text-align: center;
        font-family:Ballet;
        font-size: 8.7rem;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        top: 7%;
        left: 7%;
    }
    .title2{
        width: 10rem;
        height: 19.5rem;
        color: #060606;
        text-align: center;
        font-family:Ballet;
        font-size: 8.7rem;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        top: 25%;
        left: 18%;
    }
    .sidedeco{
        width: 4.2rem;
        height: 5rem;
        position: absolute;
        background-image: url(imgs/gp4.png);
        top: 42%;
        background-size: cover;
        opacity: 0;
    }
    .sidedeco2{
        width: 4.2rem;
        height: 5rem;
        position: absolute;
        background-image: url(imgs/gp5.png);
        top: 42%;
        right: 1%;
        background-size: cover;
        opacity: 0;
    }
    .middle{
        width: 97.3%;
        aspect-ratio: 1/0.5;
        background-image: url(imgs/gp6.png);
        background-size:contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 53%;
    }
    .SP{
        top: 4rem;
        width: 29rem;
        height: 38rem;
        position: relative;
        display: flex;
        color: #ffffff;
        text-align: center;
        font-family: 'Big Shoulders Display', sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.5rem;
        position: relative;
        margin: auto;
    }
}